
.red{
    background-color: red;
}
.blue{
    background-color: blue
}
.grey{
    background-color: grey;
}
.amarillo{
    background-color: yellow;
}
.rojo{
    color: red;
}
.azul{
    color: blue;
}
.fondo{
    background-color: #2e0108 ;
}
nav{
    background-color:#dadcd9;
    color: #546785;
} 
.letraverde{
    color: #133a5b;
}
.fondodropdown{
    color: #dadcd9;
}
.letraazuloscuro{
    color: #36475f;
}
.tablaprendas{
    text-align: center;
    background-color: #dadcd9;
}
.lato { 
	font-family: Lato; 
}
.hoverlink:link:hover{
    background-color:#545753 ;
    color: #49e914;
}
.letralinks{
    color: #545753;
}