
.red{
    background-color: red;
}
.blue{
    background-color: blue
}
.grey{
    background-color: grey;
}
.amarillo{
    background-color: yellow;
}
.rojo{
    color: red;
}
.azul{
    color: blue;
}
.fondo{
    background-color: #485871 ;
}
nav{
    background-color: #ceceda;
    color: #546785;
} 
.letraverde{
    color: #11d6a5;
}
.fondodropdown{
    color: #ceceda;
}
.letraazuloscuro{
    color: #36475f;
}
.tablaprendas{
    text-align: center;
    background-color: #ceceda;
}